<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow_sm">
      <nav class="navbar navbar-expand-lg navbar-light mt-3 mb-3">
        <a class="navbar-brand" href="/">LOGO</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

          <% if admin_signed_in? %>
        <%# if request.fullpath.include? "/admin" %>
          <li class="nav-item">
            <%= link_to "商品一覧", admin_path, class: "btn btn-outline-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧", admin_path, class: "btn btn-outline-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "注文履歴一覧", admin_path, class: "btn btn-outline-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "ジャンル一覧", admin_path, class: "btn btn-outline-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, class: "btn btn-outline-dark", method: :delete %>
          </li>
      <% elsif customer_signed_in? %>
          <li class="nav-item">
            <%= link_to "マイページ", admin_path, class: "btn btn-outline-dark"  %>
          </li class="nav-item">
          <li class="nav-item">
            <%= link_to "商品一覧", admin_path, class: "btn btn-outline-dark"  %>
          </li>
          <li class="nav-item">
            <%= link_to "カート", admin_path, class: "btn btn-outline-dark"  %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_customer_session_path,method: :delete, class: "btn btn-outline-dark"  %>
          </li>
      <% else %>
          <li class="nav-item">
            <%= link_to "About", admin_path, class: "btn btn-outline-dark"  %>
          </li>
          <li class="nav-item">
            <%= link_to "商品一覧", admin_path, class: "btn btn-outline-dark"  %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-dark"  %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-dark"  %>
          </li>
      <% end %>

           </ul>
          </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
